---
import {Image} from 'astro:assets';
import contact from '../assets/images/contact.png';
---

<section class="py-12 text-white" id="projects">

  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-4xl font-bold text-center items-center mb-8 text-purple-400">Contact me !</h2>
    <div class="grid md:grid-cols-2 items-center gap-12">
      
      <div class="bg-[#1f1b2e] rounded-2xl p-6 border border-purple-600 shadow-lg transition-transform hover:-translate-y-2">
          
           
  </h2>
  <h2 class="text-3xl font-bold mb-4">
    Let's <span class="text-purple-400">Connect</span>
  </h2>
  <p class="text-sm text-gray-300 mb-8">
    Feel free to reach out !
  </p>

  <div class="space-y-4">
    <div class="flex items-center space-x-4">
      <div class="bg-purple-700 p-2 rounded-full">
       
      </div>
      <span>contact@devasri.com</span>
    </div>

    <div class="flex items-center space-x-4">
      <div class="bg-purple-700 p-2 rounded-full">
       
      </div>
      <span>+91 8248062614</span>
    </div>

    <div class="flex items-center space-x-4">
      <div class="bg-purple-700 p-2 rounded-full">
       
      </div>
      <span>Karur , India</span>
    </div>
  </div>
  
    </div>
    <div class="mt-12 md:mt-0">
      <Image src={contact} alt="image" class="rounded-lg w-40 md:w-96"/>
    </div>
  </div>
</section>
