---
import Layout from '../layouts/Layout.astro';
import { FaInstagram,  FaLinkedin, FaGithub } from 'react-icons/fa';


---

<nav class="flex justify-end p-4 bg-gray-700">
  <ul class="flex space-x-4">
    <li>
      <a href="https://www.instagram.com/devasri._06/" target="_blank" class="text-white hover:text-white-800">
        <FaInstagram class="text-5xl" style={{ fontSize: '30px' }}  />
      </a>
    </li>
    <li>
      <a href="https://github.com/Devasri06" target="_blank" class="text-white hover:text-white-800">
        <FaGithub class="text-5xl" style={{ fontSize: '30px' }} />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/devasri-s-p-392b852a0/" target="_blank" class="text-white hover:text-white-800">
        <FaLinkedin class="text-5xl" style={{ fontSize: '30px' }} />
      </a>
    </li>
  </ul>

</nav>

<Layout>
 
</Layout>
